@import "../../App.scss";

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 1rem;

    h2, h3 {
        font-size: 2rem;
        
    }
    h2{
        text-transform: uppercase;
    }

    
    .upperCase {
        text-transform: uppercase;
        padding-bottom: 6rem;
        padding-top: 2rem;
        max-width: 60rem;
         text-align: center;
        margin: auto; 
    }
    .section1 {
        padding: 2rem 0;
        
    }

    button {
        width: 137px;
        height: 40px;
        background: var(--White);
        border: solid 1px var(--Black);
        outline: none;
        font-size: 14px;
    }

    .midSection {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 1rem;
    }

    .gallery {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
        margin-bottom: 2rem;

        img {
            width: 100%;
        }
    }
}