.margin {
    margin: 0;
    max-width: 26rem;
    padding: 1rem;
}

.cardButton {
    background-color: #1F1F1F;
    color: var(--White);
    border: solid 1px var(--White);
}

.left {
    color: var(--White);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 611px;
    height: 327px;
    background-image: url(../../../assets/book1.png);
    
    .cardButton {
        background-color: #1F1F1F;
        color: var(--White);
        border: solid 1px var(--White);
    }
}

.right {
    color: var(--White);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 615px;
    height: 327px;
    background-image: url(../../../assets/book2.png);

    .cardButton {
        background-color: #1F1F1F;
        color: var(--White);
        border: solid 1px var(--White);
    }
}

h3 {
    margin: 1rem;
}

