@import url('https://fonts.googleapis.com/css2?family=Gilda+Display&display=swap');

:root {
  --White: #FFFFFF;
  --Black: #000000;
  --Gray: #262626; // Header and Footer
  --Button: #1F1F1F; // Booking and Form Button
  --LightGrey: #D9D9D9; // Socials and Form
}

body {
  font-family: 'Gilda Display', serif;
  font-weight: 400;
  margin: 0;
  display: flex;
  justify-content: center;

  #root {
    width: 1280px;
  }
}